@font-face {
  font-family: "PlayES", sans-serif;
  src: url("fonts/Playwright-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("fonts/RobotoMono-Regular.woff") format("woff");
}

:root {
  --main: black;
  --white: #fff;
  --primary: rgb(173, 214, 227);
}

html,
body,
a,
li,
ul,
h1,
h2,
h3,
p,
sub,
sup,
button,
span,
form,
div,
section,
textarea,
input {
  margin: 0;
  padding: 0;
  gap: 0;
  text-decoration: none;
  list-style: none;
  color: #face1c;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  max-width: 100%;
  background-color: #000; /* Set a default background color if needed */
  background-image: url("../images/I0gid7uohiMj.jpg");
}

.container {
  width: 95%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 300px;
  width: 100%;
}

.header__wrapper > div > a > img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  max-width: 67.2px;
  max-height: 67.2px;
}

.header__wrapper > div > a > img:hover {
  width: 100%;
  height: 100%;
  max-width: 73px;
  max-height: 73px;
  transition: 0.5s;
}

.one__page {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.one__page__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.one__page__wrapper > div > img {
  width: 100%;
  height: 100%;
  max-width: 728px;
  max-height: 728px;
  border: 3px solid #1F1F1F;
}

.one__page__text {
  padding: 5px 5px;
}

.one__page__text > h2 {
  font-family: "Helvetica", cursive;
  font-weight: 400;
  font-size: 3.75rem;
  color: #face1c;
}

.dog {
  animation: dog 5s linear infinite;
}

@keyframes dog {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  70% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(4deg);
  }
  90% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.one__page__ca {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  background-color: rgba(255, 255, 255, 0.9);
}

.one__page__ca > p {
  font-family: "Helvetica", cursive;
  font-size: 2.25rem;
  font-weight: 400;
  color: black;
}

.two__page {
  background-color: #1F1F1F;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.two__page__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.two__page__wrapper > div > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
}

.two__page__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.two__page__right > p {
  font-family: "Roboto", monospace;
  font-weight: 400;
  font-size: 24px;
}

.two__page__right > button {
  padding: 15px 30px;
  border: 2px solid #000;
  background: var(--white);
  font-family: "Helvetica", cursive;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  color: var(--main);
}

.two__page__right > button:hover {
  color: var(--white);
  background: #000;
  transition: 1s;
}

.dog__2 {
  animation: dog-2 6s linear infinite;
}

@keyframes dog-2 {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-1deg);
  }
  40% {
    transform: rotate(-3deg);
  }
  70% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(3deg);
  }
  90% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.three__page {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  padding-bottom: 40px;
}

.three__page__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.three__page__title > div {
  background-color: #1F1F1F;
  padding: 5px 5px;
}

.three__page__title > div > h2 {
  font-family: "Helvetica", cursive;
  font-size: 38px;
  font-weight: 400;
}

.three__page__title > div > p {
  font-family: "Roboto", monospace;
  font-size: 24px;
  font-weight: 400;
}

.three__page__wrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.three__page__wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.three__page__wrapper > div > img {
  width: 400px;
  height: 440px;
}

.three__page__wrapper > div > button {
  padding: 15px 30px;
  border: 2px solid #000;
  background: var(--white);
  font-family: "PlayES", cursive;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  color: var(--main);
}

.three__page__wrapper > div > button:hover {
  color: var(--white);
  background: #000;
  transition: 1s;
}

@media screen and (max-width: 1024px) {
  .two__page__wrapper {
    flex-direction: column;
  }

  .two__page__right {
    align-items: center;
    justify-content: center;
  }

  .two__page {
    margin-top: 50px;
  }

  .two__page__right > p {
    font-size: 28px;
  }

  .two__page__right > button {
    font-size: 28px;
  }

  .three__page__title > div > h2,
  .three__page__title > div > p {
    text-align: center;
  }

  .three__page__wrapper {
    flex-direction: column;
  }

  .three__page__wrapper > div > img {
    width: 300px;
    height: 300px;
  }
}

/* How to Buy and Legal Disclaimer Boxes */
.how-to-buy-boxes, .legal-disclaimer-boxes {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping if the container width is too small */
  justify-content: space-between;
  gap: 20px;
  margin-top: 45px;
}

.how-to-buy-box, .legal-disclaimer-box {
  background-color: #2e2e2e;
  border-radius: 10px;
  padding: 20px;
  color: #ffffff;
  text-align: center;
  flex: 1;
  min-width: 48%;
  box-sizing: border-box;
  font-family: 'Helvetica', sans
